body{
    background-color: rgba(235, 240, 254, 0.5);
    color: rgba(63, 63, 63, 1);
}

.box{
    background-color: white;
    border-radius: 10px;
}

.input{
    color: rgba(118, 118, 118, 1);
}

.main-box{

}

.w-60{
    width: 60%;
}

.f-38{
    font-size: 38px;
}

.f-20{
    font-size: 20px;
}

.f-14{
    font-size: 14px;
}

.pt-50{
    padding-top: 50px;
}

.pt-40{
    padding-top: 40px;
}

.mt-40{
    margin-top: 40px;
}

.mt-30{
    margin-top: 30px;
}

.mt-25{
    margin-top: 25px;
}

.mr-40{
    margin-right: 40px;
}

.px-20{
    padding-right: 20px;
    padding-left: 20px;
}

.mt-20{
    margin-top: 20px;
}

.bg-off-white{
    background-color: #FCFBFC;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #E8E8E8;
}

.vh-75{
    min-height: 60vh;
}

@media (max-width: 768px) {
    .mr-sm-0{
        margin-right: 0px !important;
    }
  }
